div.screen,
div.content div.wrapper div.modal {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: visibility .5s ease, opacity .5s ease;
	-moz-transition: visibility .5s ease, opacity .5s ease;
	-ms-transition: visibility .5s ease, opacity .5s ease;
	-o-transition: visibility .5s ease, opacity .5s ease;
	transition: visibility .5s ease, opacity .5s ease;
}

div.screen.visible,
div.content div.wrapper div.modal.visible {
	visibility: visible;
	opacity: 1;
}

div.content div.wrapper div.modal.visible {
	z-index: 1;
}

/*div.content div.wrapper {
	-webkit-transition: -webkit-transform .5s ease;
	-moz-transition: -moz-transform .5s ease;
	-ms-transition: -ms-transform .5s ease;
	-o-transition: -o-transform .5s ease;
	transition: transform .5s ease;
}

div.content div.wrapper.modal {
	-webkit-transform: scale(0.95);
	-moz-transform: scale(0.95);
	-ms-transform: scale(0.95);
	-o-transform: scale(0.95);
	transform: scale(0.95);
}*/