div.ui-icon {
	background: none;
}

div.ui-draggable-dragging {
	cursor: move;
}

input.spectrum,
div.sp-container {
	display: none;
}

div.sp-container {
	position: absolute !important;
	left: auto; right: calc(100% + 20px);
	background-color: #FFFFFF;
	border: none;
	border-radius: 2px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

div.sp-top {
	margin-bottom: 0px;
}