@import url("http://fonts.googleapis.com/css?family=Roboto:400,700");
@import url("http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700");

* {
	margin: 0px;
	padding: 0px;
}

html,
body {
	width: 100%;
	height: 100%;
}

body {
	background-color: #F2F2F2;
	overflow: hidden;
	color: #2D2D2D;
	font-family: "Roboto";
}

span.port {
	display: none;
}

div.message {
	position: absolute;
	top: -50px;
	left: 0px; right: 0px;
	background-color: #FFF7CE;
	border-radius: 2px;
	box-sizing: border-box;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
	width: 400px;
	margin: 0px auto;
	padding: 7px 40px;
	font-family: "Roboto Condensed";
	text-align: center;
	z-index: 200;
}

div.message.error {
	background-color: #FFA099;
}

div.popup {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 2rem;
	height: 2rem;
	margin: 20px 20px;
	color: #D2D2D2;
	font-size: 2rem;
	line-height: 2rem;
	text-align: center;
	cursor: pointer;
}

body[popup] div.popup {
	display: none;
}

div.content {
	display: table;
	width: 100%;
	height: 100%;
}

div.content > div {
	display: table-cell;
	vertical-align: middle;
}

div.content div.wrapper {
	position: relative;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	min-width: 600px; min-height: 360px;
	width: 600px; height: 360px;
	margin: 0px auto;
}

div.content div.wrapper > div.resize {
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 1rem;
	height: 1rem;
	color: #D2D2D2;
	text-align: center;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

header {
	position: relative;
	background-color: #F44336;
	box-sizing: border-box;
	height: 58px;
	color: #FFFFFF;
	font-family: "Roboto Condensed";
	font-size: 2rem;
}

header div.logo {
	display: inline-block;
	position: relative;
	margin: 10px 15px;
	font-weight: 700;
}

header div.logo > span:before {
	content: "BETA";
	position: absolute;
	top: 3px;
	left: 100%;
	width: 100%;
	font-size: .65rem;
	font-weight: 400;
}

header div.logo > span:hover:before {
	content: attr(data-version);
}

header ul.nav,
header ul.nav > li {
	display: inline-block;
}

header ul.nav {
	position: absolute;
	right: 15px;
	font-size: 1.75rem;
	list-style-type: none;
}

header ul.nav > li {
	padding: 12px 15px;
	text-align: center;
	cursor: pointer;
	-webkit-transition: background-color .1s ease;
	-moz-transition: background-color .1s ease;
	-ms-transition: background-color .1s ease;
	-o-transition: background-color .1s ease;
	transition: background-color .1s ease;
}

header ul.nav > li:before {
	content: attr(name);
}

header ul.nav > li[name="search"]:hover:before {
	content: "coming soon";
}

header ul.nav > li:last-child {
	margin-right: 0px;
}

header ul.nav > li:hover {
	background-color: rgba(0, 0, 0, 0.1);
}

div.area {
	position: absolute;
	top: 58px; bottom: 0px;
	left: 0px; right: 0px;
}

div.queue,
div.playlist {
	box-sizing: border-box;
	height: 100%;
	padding: 10px 15px;
}

div.queue > div.none span:before {
	content: "There are no requests in the queue.";
}

div.playlist {
	display: none;
}

div.playlist > div.none span:before {
	content: "There are no requests in your playlist.";
}

div.none {
	display: table;
	width: 100%;
	height: 100%;
}

div.none > div {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

div.none span:before {
	color: #D2D2D2;
	font-family: "Roboto Condensed";
	font-size: 1.5rem;
}

ul.item_list {
	display: none;
	list-style-type: none;
}

ul.item_list > li {
	position: relative;
	border-top: 1px solid #EAEAEA;
	width: 100%;
	height: 60px;
	padding: 5px 0px;
}

ul.item_list > li:first-child {
	border: none;
	padding-top: 0px;
}

ul.item_list > li:last-child {
	padding-bottom: 0px;
}

ul.item_list > li > div {
	display: inline-block;
	height: 100%;
}

ul.item_list > li > div > div {
	display: table;
	width: 100%;
	height: 100%;
}

ul.item_list > li > div > div > div {
	display: table-cell;
	vertical-align: middle;
}

ul.item_list > li div.icon {
	width: 4rem;
}

ul.item_list > li div.icon > div > div {
	font-size: 2rem;
	text-align: center;
}

ul.item_list > li div.details {
	width: calc(100% - 10rem);
}

ul.item_list > li div.details a,
ul.item_list > li div.details span {
	display: block;
	position: relative;
}

ul.item_list > li div.details a.title {
	top: 2px;
	overflow: hidden;
	color: inherit;
	font-size: 1.25rem;
	text-decoration: none;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.item_list > li div.details span.submitter {
	bottom: 2px;
	font-size: .95rem;
}

ul.item_list > li div.duration {
	width: 6rem;
}

ul.item_list > li div.duration span {
	display: inline-block;
	margin-right: 1rem;
}

ul.item_list > li div.duration > div > div {
	font-size: 1.2rem;
	text-align: right;
}